<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="Listener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="10_DebugConfig.log" />
        <add name="Listener2" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>