<configuration>
  <system.diagnostics>
  <trace indentsize="4">
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
  </trace>
   <switches>  
      <add name="Switch1" value="2" />  
   </switches>  
  </system.diagnostics>
</configuration>
